$main-color: #279923;
$main-alternate-color: #1c7e19;
$main-dark-color: #175515;
$auth-page-main-panel-background-color: rgb(237, 248, 232);
$auth-page-reef-pi-title-color: #2e2e2e;
$navbar-reefpi-background-color: navy;
$navbar-brand-color: yellow;
$navbar-text-color: rgba(255,255,255,.8);
$navbar-nav-nav-link-color: rgba(255,255,255,.5);
$nav-item-active-nav-item-hover-color: white;
$grid-block-border-color: black;
$fatal-error-content-color: white;
