@import './colors';

.navbar-reefpi {
  background-color: $navbar-reefpi-background-color;
}
.navbar-reefpi .navbar-brand {
  color: $navbar-brand-color;
}
.current-tab{
  border:none;
  cursor:default;
}
/* change the brand and text color */
.navbar-reefpi
.navbar-reefpi .navbar-text {
  color: $navbar-text-color;
}
/* change the link color */
.navbar-reefpi .navbar-nav .nav-link {
  color: $navbar-nav-nav-link-color;
}
/* change the color of active or hovered links */
.navbar-reefpi .nav-item.active .nav-link,
.navbar-reefpi .nav-item:hover .nav-link {
  color: $nav-item-active-nav-item-hover-color;
}
